html,body{
    font-family: 'Amiri', serif;
    height: 100%;
    width: 100%;
    color: #222;
}

.navbar {
    padding: .8rem;

}


.navbar-nav li {
    padding-right: 20px;
}

.navbar-nav li :hover{
    background-color: aliceblue;
    border-radius: .5cm;
    color:#222 !important;
}
.nav-link{
    font-size: 1.1em !important; 
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform:translateY(-50%)
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-inner h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;

}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fa-html5{
    color:#e54d26
}
.fa-bold{
    color:#563d7c
}
.fa-css3{
    color: #216af2;
}
.fa-html5,.fa-bold,.fa-css3{
    font-size: 4em;
    margin: 1rem;
}
.social a {
    font-size: 4.5em;
    padding: 3rem;

}
.fa-facebook-square{
    color:#3b5998;
}
.fa-twitter{
    color: #00aded;
}
.fa-google-plus{
    color: #dd4b39;
}
.fa-instgram{
    color: #517fc4;
}
.fa-youtube-play{
    color: #bb0000;
}
.fa-facebook-square:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-instagram:hover,
.fa-youtube-play:hover{
    color:#d5d5d5 ;
}
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top:2rem ;

}
hr.light{
    border-top:1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

@media (max-width:992px){
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}
@media (max-width:768px){
    .carousel-caption{
        position: absolute;
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-inner h3 {
        font-size: 140%;
        font-weight: 400;

        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4{
        font-size: 200%;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}
@media (max-width:576px){
    .carousel-caption{
        position: absolute;
        top: 60%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-inner h3 {
        font-size: 110%;
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding: 8px 8px;
    }
    .carousel-indicators{
        display: none;
    }
    .display-4{
        font-size:160% ;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}